<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.leplastic.lostvictim"
    android:versionCode="2"
    android:versionName="2.0" >
    
    <uses-permission android:name="android.permission.VIBRATE"/> <!-- haptic feedback -->

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.github.leplastic.lostvictim.VictimActivity"
            android:label="@string/activity_victim_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- <activity
            android:name="com.github.leplastic.lostvictim.ControllerActivity"
            android:label="@string/activity_controller_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>  -->
    </application>

</manifest>
